<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>渔佳-代理申请</title>
    <script src="__PUBLIC__/dist/agent/js/flexible.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/dist/agent/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/agent/css/global.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/agent/font/iconfont.css">
    
<script src="__PUBLIC__/dist/js/jquery.min.js"></script>
<script src="__PUBLIC__/dist/js/common.js?v=<?php echo time().mt_rand(1,1111); ?>"></script>
<script src="__PUBLIC__/dist/js/fancybox/jquery.fancybox.js"></script>
</head>
<body>
    <style>

    </style>
    
</body>
<img src="__PUBLIC__/dist/agent/img/m/price.png" style="width:100%;">
</html>