<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name = "format-detection" content = "telephone=no">
<title>S.I.可视还源-赛金猪</title>
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/animations.css" rel="stylesheet" />
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/all.css" rel="stylesheet" />
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/style.css" rel="stylesheet" />
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/base.css" rel="stylesheet" />
</head>

<body>
<div class="main">
	<div class="check-tips clear"><i class="icon warning-tips"></i><p>该二维码已重复扫描多次，谨防假冒！</p><span class="icon close-tips"></span></div>
    <div class="check-list-box">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="check-list">
      <thead>
        <tr>
            <th>验证次数</th>
            <th>日期</th>
            <th>时间</th>
            <th>名称</th>
            <th>位置</th>
        </tr>
      </thead>
      <tbody>        
      </tbody>
    </table>
    </div>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/tools/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/common/checklist.js"></script>
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/data/scanlist-function.js"></script>
</html>