<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name = "format-detection" content = "telephone=no">
<title>S.I.可视还源-赛金猪</title>
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/animations.css" rel="stylesheet" />
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/all.css" rel="stylesheet" />
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/style.css" rel="stylesheet" />
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/base.css" rel="stylesheet" />
</head>

<body>
<div class="main">
	<div class="line-top-box">
        <h2><span>成长日志</span></h2>
        <section class="line-bar-box">
        </section>
    </div>
    {:token()}
</div>
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/tools/jquery.min.js"></script>
<!--弹出大图-->
<link href="__PUBLIC__/m-skin/pig/template1/js/plugins/lightGallery/lightGallery.css" rel="stylesheet" />
<script src="__PUBLIC__/m-skin/pig/template1/js/plugins/lightGallery/lightGallery.js"></script>
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/common/video.js"></script>
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/data/line-function.js"></script>
</body>
</html>