<extend name="base/base" />
<block name="mystyle">
    <style>
        .layui-table-cell {
            height:75px !important;
            /*width:150px !important;*/
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</block>
<block name="body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>代理商列表</legend>
    </fieldset>
    <form class="layui-form layui-form-pane search-form" action="{:url()}" method="post" >
        <div class="searchDiv layui-row layui-col-space10">

            <div class="layui-col-xs12">
                <div class="layui-form-item" >
                    <label class="layui-form-label" pane>地址</label>
                    <div class="layui-input-block">

                        <!--<div class="select-down-more">-->
                        <!--<div class="clearfix col-xs-12 col-sm-4">-->
                        <div class='layui-col-md3'>
                            <?php $province =(isset($_GET['province']) && !empty($_GET['province']))?$_GET['province']:'';?>
                            <?php echo (model('admin/Ui')->getRelationSelectList('Area','GetProvinceList','','id','region_name','province',1,$province,'省','1','get_city')); ?>
                        </div>
                        <div class='layui-col-md3'>
                            <?php $city =(isset($_GET['city']) && !empty($_GET['city']))?$_GET['city']:''; ?>
                            <?php echo (model('admin/Ui')->getRelationSelectList('Area','GetCityList',$province,'id','region_name','city',2,$city,'市','1','get_area'));  ?>
                        </div>

                        <div class='layui-col-md3'>
                            <?php $area =(isset($_GET['area']) && !empty($_GET['area']))?$_GET['area']:'';  ?>
                            <?php echo (model('admin/Ui')->getRelationSelectList('Area','GetAreaList',$city,'id','region_name','area',3,$area,'区','1'));  ?>
                        </div>
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-form-item" >
                    <label class="layui-form-label" pane>姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name"    placeholder="请输入姓名" style="min-width:200px;" autocomplete="off" class="layui-input" value="{:input('name','')}">
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-form-item" >
                    <label class="layui-form-label" pane>电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="contact"    placeholder="请输入电话" style="min-width:200px;" autocomplete="off" class="layui-input" value="{:input('contact','')}">
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-form-item" >
                    <label class="layui-form-label" pane>职业</label>
                    <div class="layui-input-block">
                        <input type="text" name="duty"    placeholder="请输入职业" style="min-width:200px;" autocomplete="off" class="layui-input" value="{:input('duty','')}">
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-form-item" >
                    <div class="">
                        <a class="layui-btn " id='search'   url="{:url('agent_list')}" lay-filter="myform"  target-form="layui-form"><i class='iconfonts'>&#xe63d;</i>搜索</a>
                        <a  class="layui-btn layui-btn-primary" href="{:url('agent_list')}"><i class='iconfonts'>&#xe662;</i>重置</a>
                    </div>
                </div>
            </div>


        </div>
    </form>

    <div class='layui-row layui-col-space10' style='padding:12px 15px;'>
        <a href="{:url('agent_add')}" class='layui-btn'><i class="iconfont">&#xe6b9;</i>新增代理</a>
        <!--<a  ope="open" model="Agent" url="{:url('agent_change_status')}"  onclick="change_status($(this));" class='layui-btn layui-btn-normal'><i class="iconfont">&#xe901;</i>启用</a>-->
        <!--<a  ope="close" model="Agent" url="{:url('agent_change_status')}"  onclick="change_status($(this));" class='layui-btn layui-btn-danger'><i class="iconfont">&#xe69a;</i>禁用</a>-->
        <!--<a  class='layui-btn layui-btn-danger' ope="delete" model="Agent" url="{:url('agent_change_status')}"  onclick="change_status($(this));"><i class="layui-icon">&#xe640;</i>删除选中</a>-->
    </div>

    <table class="layui-table" lay-data="{height:'full', url:'/Agent/getAgentList/',cellMinWidth: 80,page:true,limit:10,size:'lg',id:'tabletest'}" lay-filter='thetable' >
        <thead>
        <tr>
            <th align='center' lay-data="{checkbox:true, width:60,align:'center'}"></th>
            <th lay-data="{field:'id', width:60,align:'center'}">id</th>
            <th lay-data="{field:'name', width:100}">代理人姓名</th>
            <th lay-data="{field:'contact', width:100}">联系方式</th>
            <th lay-data="{field:'duty', width:100}">职业</th>
            <th lay-data="{field:'address', width:200,templet: '#addressTpl'}">地址</th>
            <!--<th lay-data="{field:'status', width:100}">总设备数</th>-->
            <!--<th lay-data="{field:'status', width:100}">总推广数</th>-->
            <th lay-data="{field:'create_time', width:150}">发布时间</th>
            <!--<th lay-data="{width:50,toolbar:'#opebar'}">操作</th>-->

        </tr>
        </thead>
    </table>


</block>
<block name='script'>

    <script type="text/html" id="opebar">
        <!--<a class="layui-btn layui-btn-small" lay-event="edit" style='text-align:center;'><i class='iconfont'>&#xe910;</i>编辑</a>-->
        <!--<a class="layui-btn layui-btn-danger layui-btn-small one_del" ope="delete" model="Agent" url="{:url('agent_change_status')}" lay-event="del" style='text-align:center;'><i class="layui-icon">&#xe640;</i>删除</a>-->
    </script>
    <script type="text/html" id="statusTpl">
        {{#  if(d.status == '正常'){ }}
        <i class="iconfont" style="color:#1E9FFF;">{{d.status}}</i>
        {{#  } else { }}
        <i class="iconfont" style="color:#ff0e07;">{{d.status}}</i>
        {{#  } }}
    </script>
    <script type="text/html" id="addressTpl">
        {{d.province_name}}-{{d.city_name}}-{{d.area_name}}<br>{{d.address}}
    </script>
    <script>
        var thechoose="";
        layui.use('table', function(){
            var  table = layui.table;
            table.on('tool(thetable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                var ondel=tr.find(".one_del");

                if(layEvent === 'edit'){
                    window.location.href="agent_add?id="+data.id;
                } else if(layEvent === 'del'){ //删除
                    thechoose=data.id;
                    change_status(ondel);
                };
            });


            /*****多选******/
            table.on('checkbox(thetable)', function(obj){
                var checkStatus = table.checkStatus('tabletest'); //test即为基础参数id对应的值
                var thedata =checkStatus.data;
                var newarr =new Array();
                if(thedata.length>0){

                    for(i=0;i<thedata.length;i++){
                        newarr[i]=thedata[i].id;
                    }
                    thechoose =newarr.join(',');
                }else{
                    thechoose="";
                }
            });
        });
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input,select').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            console.log(url);
            window.location.href = url;
        });


    </script>
    <script>
        layui.use('form', function(){
            var form = layui.form;
            form.on('switch(status)', function(data){
                console.log(data.elem); //得到checkbox原始DOM对象
                console.log(data.elem.checked); //开关是否开启，true或者false
                console.log(data.value); //开关value值，也可以通过data.elem.value得到
                console.log(data.othis.prev().attr('ope')); //得到美化后的DOM对象
                var one_change=data.othis.prev();
                thechoose=data.value;
                change_status(one_change);
            });
        });
    </script>
    <script>
        //    $(document).ready(function() {
        //高亮显示
        highlight_subnav('menu_client','menu_font_list');
        //        var upload_url="http://admin.centerwl.com/upload/kjuploadfile.html";
        //        var is_disable ="0";
        //        doUploadFile('file_upload','down_url',upload_url,is_disable,'fileQueue','200MB','*.apk;*.jpg');
        //    });
    </script>
    <script>
        function get_city(){
            var province_name = $('#province').val();


            if(province_name==0){
                return;
            }

            var url = '/Agent/getCityList';
            var para = "province_name="+province_name;
            getApiData(url, para, get_class_result);
        }
        function get_class_result(rs){
            if(rs.code == 1){
                var html = '';
                var name ='';
                $.each(rs.data, function (index, item) {
                    html += '<option value="'+item.id+'">'+item.region_name+'</option>';
                    if(index==0)
                        name =item.region_name;
                });
                $('#city').html(html);
                get_area();


            }else{
                alertMsg(0,rs.msg);
            }
        }

        function get_area(){
            var city_name = $('#city').val();
            if(city_name==0){
                return;
            }
            var url = '/Agent/getAreaList';
            var para = "city_name="+city_name;
            getApiData(url, para, get_class_result1);
        }
        function get_class_result1(rs){
            if(rs.code == 1){
                var html = '';
                $.each(rs.data, function (index, item) {
                    html += '<option value="'+item.id+'">'+item.region_name+'</option>';
                });
                $('#area').html(html);

            }else{
                alertMsg(0,rs.msg);
            }
        }

    </script>
    <link rel="stylesheet" href="__PUBLIC__/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/dist/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/dist/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/dist/css/ace-fonts.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/dist/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/dist/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/dist/css/ace-skins.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/dist/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/dist/js/fancybox/jquery.fancybox.css" />
    <block name="css_style"></block>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/dist/css/ace-ie.min.css" />
    <![endif]-->
    <script src="__PUBLIC__/dist/js/ace-extra.min.js"></script>
    <!--[if lte IE 8]>
    <script src="__PUBLIC__/dist/js/html5shiv/dist/html5shiv.min.js"></script>
    <script src="__PUBLIC__/dist/js/respond/respond.min.js"></script>
    <![endif]-->

    <!--[if !IE]> -->
    <script src="__PUBLIC__/dist/js/jquery.min.js"></script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script src="__PUBLIC__/dist/js/jquery.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/dist/css/style.css" />
    <script src="__PUBLIC__/dist/js/common.js?v=<?php echo time().mt_rand(1,1111); ?>"></script>

    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='__PUBLIC__/dist/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/dist/js/ace-elements.min.js"></script>
    <script src="__PUBLIC__/dist/js/ace.min.js"></script>
    <script src="__PUBLIC__/dist/js/bootbox.js"></script>
    <script src="__PUBLIC__/dist/js/fancybox/jquery.fancybox.js"></script>
</block>
