<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name = "format-detection" content = "telephone=no">
<title>S.I.可视还源-{$names}</title>
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/animations.css" rel="stylesheet" />
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/all.css" rel="stylesheet" />
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/style.css" rel="stylesheet" />
<link href="__PUBLIC__/m-skin/pig/template1/skin/css/base.css" rel="stylesheet" />
</head>

<body>
                                     
                    <div class="main">
                        <!-- loading加载开始 -->
                        <div class="loading">
                            <div class="spinner">
                            <div class="spinner-container container1">
                              <div class="circle1"></div>
                              <div class="circle2"></div>
                              <div class="circle3"></div>
                              <div class="circle4"></div>
                            </div>
                            <div class="spinner-container container2">
                              <div class="circle1"></div>
                              <div class="circle2"></div>
                              <div class="circle3"></div>
                              <div class="circle4"></div>
                            </div>
                            <div class="spinner-container container3">
                              <div class="circle1"></div>
                              <div class="circle2"></div>
                              <div class="circle3"></div>
                              <div class="circle4"></div>
                            </div>
                            </div>
                            <i>加载中<em>...</em></i>
                        </div>
                        <div class="loading-bg"></div>
                        <!-- loading加载结束 -->
                        <div class="toggle-btn"><span class="icon banbtn-action"></span></div>
                        <div class="swiper-container banner">        
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><a href="javascript:;"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/ban-1.jpg"></a></div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div id="product" class="model-content">
                            <div class="logo">
                                <span><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/logo.png"></span>
                                <i><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/logo-biz.png"></i>
                            </div>
                            <div class="product">
                                <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/product.jpg">        
                            </div>
                            <div class="time-end">
                                <div class="time-top-circle"></div>
                                <div class="book-icon clear">
                                    <span><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/book-1.png"></span>
                                    <span><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/book-2.png"></span>
                                    <span><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/book-3.png"></span>
                                    <span><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/book-4.png"></span>
                                </div>
                                <div class="time-topspace"></div>
                                <aside class="time-scan">
                                    <h4>产品距离过期提醒</h4>
                                    <div class="time-box">
                                        <!--<span id="t_d">200<i>天</i></span>            
                                        <span id="t_h">12<i>时</i></span>            
                                        <span id="t_m">58<i>分</i></span>            
                                        <span id="t_s">40<i>秒</i></span>-->            
                                        <span id="t_d">-<i>天</i></span>            
                                        <span id="t_h">-<i>时</i></span>            
                                        <span id="t_m">-<i>分</i></span>            
                                        <span id="t_s">-<i>秒</i></span>            
                                    </div>
                                    <div class="scan">
                                        <p>二维码已被扫描<span>9</span>次！谨防假冒！</p>
                                        <a href="{:url('Index/scan_list')}" class="btn-si btn-1">扫码记录</a>
                                    </div>
                                </aside>
                                <div class="wave icon"></div>        
                            </div>
                        </div>
                        <div id="account" class="model-content">
                            <div class="account">
                                <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/account-pic.jpg">
                                <span>
                                    <a href="{:url('Index/suyuan_daily')}" class="btn-si btn-1"><i class="icon up-process-line"></i>我的成长历程</a>
                                    <a href="javascript:;" class="btn-si btn-1 video online-video" data-video-type="2" data-video="__PUBLIC__/m-skin/pig/template1/skin/images/img/condition.mp4"><i class="icon base-space-line"></i>我的基地环境</a>
                                </span>
                            </div>
                        </div>
                        <div id="up-process" class="model-content">
                            <div class="up-process-box">
                                <fieldset class="title-bar">
                                    <legend>[ 成长环境 ]</legend>
                                    <p>大家好，我叫赛金猪，一起来看看我的家吧。</p>
                                </fieldset>
                                <div class="up-process-content">
                                    <div class="check-base gallery">
                                      <a href="javascript:;" class="up-process-pho pho-push" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-pic-1.jpg">
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/check-base.jpg">
                                            <span>
                                                <p>叮咚~欢迎来到我家~</p>
                                                <i>点击查看></i>
                                            </span>
                                        </a>
                                        <a href="javascript:;" class="up-process-pho" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-pic-2.jpg">
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-pic-2.jpg">
                                        </a>
                                        <a href="javascript:;" class="up-process-pho" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-pic-3.jpg">
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-pic-3.jpg">
                                        </a>
                                        <a href="javascript:;" class="up-process-pho" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-pic-4.jpg">	            	
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-pic-4.jpg">
                                        </a>
                                        <a href="javascript:;" class="up-process-pho" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-pic-5.jpg">	            	
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-pic-5.jpg">
                                        </a>
                                        <a href="javascript:;" class="up-process-pho" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-pic-6.jpg">	            	
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-pic-6.jpg">
                                        </a>
                                    </div>
                                    <!--<div class="location">
                                    <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/up-process-pic.png" style="display:block; width:100%;">
                                    </div>-->
                                    <div class="location clear">
                                        <span class="icon-local map-local"><i data-city="福建" class="icon"></i></span>
                                        <aside>
                                            <p class="local-txt-1"><b>养殖基地:</b> <span>中国福建省南靖县</span></p>
                                            <p class="local-txt-2">基地经纬度&nbsp; <i><em>24.7</em>°E</i>，<i><em>117.3</em>°N</i></p>
                                            <p class="local-txt-3">养殖最适宜 北纬 <i><em>24</em>°</i>，神秘纬度</p>
                                            <p class="local-txt-4">当地海拔: <i><em>64</em>m</i></</p>
                                            <span class="icon-local mout-local"></span>
                                        </aside>
                                    </div>
                                    <div class="tips-txt">一直以来我都被呵护备至，小时候怕冷，因此主人就为我安排温暖的窝，长大之后怕热，这时候主人就给我安排宽敞的地方，温湿度适当，还能经常晒到暖阳！</div>
                                    <div class="pie-data clear">
                                        <aside class="temperature pie-icon">
                                            <i class="area start">适宜<br><em>14</em>℃</i>
                                            <i class="area end">适宜<br><em>24</em>℃</i>
                                            <span class="change-data" data-num="23">-</span>
                                            <u>养殖环境</u>
                                            <p>实时温度</p>
                                        </aside>
                                        <aside class="humidity pie-icon">
                                            <i class="area start">适宜<br><em>40</em>%</i>
                                            <i class="area end">适宜<br><em>80</em>%</i>
                                            <span class="change-data" data-num="70">-</span>
                                            <u>养殖环境</u>
                                            <p>实时湿度</p>
                                        </aside>
                                    </div>
                                    <div class="shine-line-box">                	
                                        <section>
                                            <span id="point-1"></span>                        
                                            <span id="point-2"></span>
                                            <span id="point-3"></span>
                                            <span id="point-4"></span>                        
                                            <span id="point-5"></span>                        
                                            <span id="point-6"></span>                        
                                            <span id="point-7"></span>                        
                                        </section>
                                        <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                            <line x1="0" y1="80" x2="0" y2="80" id="line-1" class="line" />
                                            <line x1="0" y1="80" x2="0" y2="80" id="line-2" class="line" />
                                            <line x1="0" y1="80" x2="0" y2="80" id="line-3" class="line" />
                                            <line x1="0" y1="80" x2="0" y2="80" id="line-4" class="line" />
                                            <line x1="0" y1="80" x2="0" y2="80" id="line-5" class="line" />
                                            <line x1="0" y1="80" x2="0" y2="80" id="line-6" class="line" />
                                            <line x1="0" y1="80" x2="0" y2="80" id="line-7" class="line" />						
                                            <line x1="0" y1="80" x2="0" y2="80" id="yline-1" class="line-y" />
                                            <line x1="0" y1="80" x2="46" y2="80" id="yline-2" class="line-y" />
                                            <line x1="0" y1="80" x2="92" y2="80" id="yline-3" class="line-y" />
                                            <line x1="0" y1="80" x2="138" y2="80" id="yline-4" class="line-y" />
                                            <line x1="0" y1="80" x2="184" y2="80" id="yline-5" class="line-y" />
                                            <line x1="0" y1="80" x2="230" y2="80" id="yline-6" class="line-y" />
                                            <line x1="0" y1="80" x2="276" y2="80" id="yline-7" class="line-y" />
                                        </svg>                    
                                        <div class="time-line">
                                            <i>00:00</i><i>04:00</i><i>08:00</i><i>12:00</i><i>16:00</i><i>20:00</i><i>24:00</i>
                                        </div>
                                        <script type="text/javascript">
											//var shineData = {"value":["弱","非常弱","普通","非常强","微强","非常强","非常弱"]};
                                        </script>
                                    </div>
                                    <div class="pie-pm-data">
                                        <h3>PM2.5</h3>
                                        <div class="pie-pm-number"><i class="change-data-pm" data-num="60">-</i>μg/m³</div>
                                        <h4>空气质量：<i>优</i></h4>
                                        <div class="circle-pie-pm"></div>
                                        <article>
                                            <aside>
                                                <label><span>NH<sub>3</sub></span><u>20</u></label>
                                                <p>（适宜<span>0-26㎎/m³</span>）</p>
                                            </aside>
                                            <aside>
                                                <label><span>H<sub>2</sub>S</span><u>5</u></label>
                                                <p>（适<span>宜0-10㎎/m³</span>）</p>
                                            </aside>
                                            <aside>
                                                <label><span>O<sub>2</sub></span><u>21</u></label>
                                                <p>（适宜<span>18%-25%</span>）</p>
                                            </aside>
                                            <aside>
                                                <label><span>CO<sub>2</sub></span><u>0.1</u></label>
                                                <p>（适宜<span>0%-0.2%</span>）</p>
                                            </aside>
                                        </article>
                                    </div>
                                    <div class="wave icon"></div>
                                </div>
                            </div>
                        </div>	
                        <div class="bigchange">
                            <div id="local-environment" class="model-content">
                                <section class="condition">
                                    <div class="h2title">
                                        <div>
                                            <span>[ 当地环境 ]</span>
                                        </div>
                                        <p>为了增强体质，我们经常在户外活动，和小伙伴们一起遛弯。</p>
                                    </div>
                                </section>
                                <div class="swiper-container swiper-container-product">
                                    <div class="swiper-wrapper gallery">
                                        <div class="swiper-slide" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang1.jpg">
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang1.jpg">
                                        </div>
                                        <div class="swiper-slide" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang2.jpg">
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang2.jpg">
                                        </div>
                                        <div class="swiper-slide" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang3.jpg">	            	
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang3.jpg">
                                        </div>
                                        <div class="swiper-slide" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang4.jpg">	            	
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang4.jpg">
                                        </div>
                                        <div class="swiper-slide" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang5.jpg">	            	
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang5.jpg">
                                        </div>
                                        <div class="swiper-slide" data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang6.jpg">	            	
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dang6.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="weathermain clearfix">
                                    <div class="weather">                                    	
                                        <strong>20°</strong>
                                        <div>
                                            <span class="wea-icon tq"></span>
                                            <time>2016/12/15</time>
                                            <em>多云</em>
                                            <p>当地实时天气</p>
                                        </div>
                                    </div>
                                    <div class="air">
                                        <strong>36</strong>
                                        <div>
                                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/img/kq.png" alt="">
                                            <time>2016/12/15</time>
                                            <em>优</em>
                                            <p>当地实时天气</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="my-food" class="model-content">
                                <section class="myfood">
                                    <div class="h2title">
                                        <div>
                                            <span>[ 我的食物 ]</span>
                                        </div>
                                        <p>对于吃，我可是非常挑剔的，一出生就喝进口奶粉，平时都是食用中草药调理身体。</p>
                                    </div>
                                </section>
                                <section class="food">
                                    <div class="foodpic">
                                        <div class="gallery">
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food1.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food1.jpg"><p>点击查看更多></p></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food2.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food2.jpg"><p>点击查看更多></p></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food3.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food3.jpg"><p>点击查看更多></p></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food4.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food4.jpg"><p>点击查看更多></p></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food5.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food5.jpg"><p>点击查看更多></p></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food6.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food6.jpg"><p>点击查看更多></p></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food7.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food7.jpg"><p>点击查看更多></p></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food8.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food8.jpg"><p>点击查看更多></p></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food9.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food9.jpg"><p>点击查看更多></p></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food10.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/food10.jpg"><p>点击查看更多></p></a>
                                        </div>
                                        
                                    </div>
                                    <div class="parameter clearfix">
                                        <fieldset>
                                            <legend> 钙 </legend>
                                            <strong>11%</strong>
                                            <!-- <p>(适宜：0%-30%)</p> -->
                                        </fieldset>
                                        <fieldset>
                                            <legend>蛋白质</legend>
                                            <strong>13%</strong>
                                            <!-- <p>(适宜：0%-30%)</p> -->
                                        </fieldset>
                                        <fieldset>
                                            <legend>脂 肪</legend>
                                            <strong>5%</strong>
                                            <!-- <p>(适宜：0%-30%)</p> -->
                                        </fieldset>
                                        <fieldset>
                                            <legend>矿物质</legend>
                                            <strong>0.5%</strong>
                                            <!-- <p>(适宜：0%-30%)</p> -->
                                        </fieldset>
                                        <fieldset>
                                            <legend>碳水化合物</legend>
                                            <strong>65.5%</strong>
                                            <!-- <p>(适宜：0%-30%)</p> -->
                                        </fieldset>
                                        <fieldset>
                                            <legend>维生素</legend>
                                            <strong>5%</strong>
                                            <!-- <p>(适宜：0%-30%)</p> -->
                                        </fieldset>
                                    </div>
                                </section>
                            </div>
                            <div id="my-water" class="model-content">
                                <section class="myfood">
                                    <div class="h2title">
                                        <div>
                                            <span>[ 我的饮水 ]</span>
                                        </div>
                                        <p>住在山上的我从不交水费，喝的都是温泉水、山涧水、石缝水，天然无污染，羡慕吧！</p>
                                    </div>
                                </section>
                                <section class="water">
                                    <div class="foodpic">
                                        <div class="gallery">
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/water1.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/water1.jpg"><p>点击查看更多></p></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/water2.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/water2.jpg"></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/water3.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/water3.jpg"></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/water4.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/water4.jpg"></a>
                                            <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/water5.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/water5.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="parameter clearfix">
                                        <fieldset>
                                            <legend>色 度</legend>
                                            <strong>15°</strong>
                                            <p>(适宜：0°-30°)</p>
                                        </fieldset>
                                        <fieldset>
                                            <legend>浑浊度</legend>
                                            <strong>10°</strong>
                                            <p>(适宜：0°-20°)</p>
                                        </fieldset>
                                        <fieldset>
                                            <legend>硬度</legend>
                                            <strong>1000</strong>
                                            <p>(适宜：0-1500mg/L)</p>
                                        </fieldset>
                                        <fieldset>
                                            <legend>水 温</legend>
                                            <strong>22°C</strong>
                                            <p>(适宜：16°C-30°C)</p>
                                        </fieldset>
                                        <fieldset>
                                            <legend>大肠杆菌</legend>
                                            <strong>20</strong>
                                            <p>(适宜：0-100个/L)</p>
                                        </fieldset>
                                        <fieldset>
                                            <legend>酸碱度</legend>
                                            <strong>7</strong>
                                            <p>(适宜：6.5-8.5)</p>
                                        </fieldset>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <img src="__PUBLIC__/m-skin/pig/template1/skin/images/img/bo.png" width="100%" style="margin-top: -35px;margin-bottom:-25px;">
                        <!--实时视频-->
                        <div id="video" class="model-content">
                        <section class="condition">
                            <div class="h2title">
                                <div>
                                    <span>[ 实时视频 ]</span>
                                </div>
                                <p>来来来~快来看我的现场直播~</p>
                            </div>
                            <div class="videomain">
                                <ul>
                                    <li class="clearfix video" data-video-type="1" data-video="__PUBLIC__/m-skin/pig/template1/skin/images/img/cat.mp4">
                                        <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/v1.jpg" alt="">
                                        <p>生态养殖基地视角01</p>
                                        <small>养殖场内部</small>
                                    </li>
                                    <li class="clearfix video" data-video-type="1" data-video="__PUBLIC__/m-skin/pig/template1/skin/images/img/video-1.mp4">
                                        <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/v1.jpg" alt="">
                                        <p>生态养殖基地视角01</p>
                                        <small>养殖场内部</small>
                                    </li>
                                    <li class="clearfix video" data-video-type="1" data-video="__PUBLIC__/m-skin/pig/template1/skin/images/img/cat.mp4">
                                        <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/v1.jpg" alt="">
                                        <p>生态养殖基地视角01</p>
                                        <small>养殖场内部</small>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        </div>
                        <div id="brand" class="model-content">
                            <section class="brand">
                                <div class="h2title">
                                    <div>
                                        <span>[ 品牌介绍 ]</span>
                                    </div>
                                </div>
                                <!--有宣传片-->
                                <div class="brandmain clearfix">
                                    <div class="videopic video" data-video-type="2" data-video="http://v.qq.com/iframe/player.html?vid=m03712xlzzy&tiny=0&auto=0"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/yn.jpg" alt="" ></div>
                                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MjkzMjM1NQ==&mid=503288397&idx=1&sn=e9e5c0c4470fdd2e1f33fa5264f48e85&chksm=3e95852109e20c3775d09998f669e18c871e249161c306495639844213eb4874af415e7790bd&scene=18#wechat_redirect"><button>查看更多企业信息</button></a>
                                </div>
                                <!--无宣传片-->
                                <!--<div class="brandmain clearfix" style="display:none">
                                    <div><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/yn.jpg" alt="" ></div>
                                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MjkzMjM1NQ==&mid=503288397&idx=1&sn=e9e5c0c4470fdd2e1f33fa5264f48e85&chksm=3e95852109e20c3775d09998f669e18c871e249161c306495639844213eb4874af415e7790bd&scene=18#wechat_redirect"><button>查看更多企业信息</button></a>
                                </div>-->			
                            </section>
                        </div>
                        <div id="q-a" class="model-content">
                            <div class="smalllabel">
                                <span>Q&A</span>
                            </div>
                            <h5 class="h5"><p>我们与基地专家游先生探讨了一些消费者关心的问题...</p></h5>
                            <div class="question">
                                <div class="q-pic">
                                    <div><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/dsc.jpg" alt=""></div>
                                </div>
                                <ul class="chat-thread">
                                    <li>这些小猪的生长环境怎么样？</li>
                                    <li>我们这边是自成一套科学合理的生态系统，排污和净化效果非常好，所以你会发现这里空气很是清新，完全没有普通猪场的臭味。<img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/si2.png" alt="" ></li>
                                    <li>赛金猪平时的饮食情况如何呢？</li>
                                    <li>赛金猪的主食是玉米，搭配了自台湾的紫苜蓿，营养价值高。小时候会喂些进口奶粉，有助猪宝宝快速成长。长大一些了，平时就会在食物中增加中草药调理身体。<img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/si2.png" alt="" ></li>
                                    <li>那平时的饮水情况如何呢？</li>
                                    <li>我们这边山清水秀啊，猪喝的都是从山上流下的温泉水、山涧水和石缝水，天然甘甜，我们自己也是喝这个水的。<img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/si2.png" alt="" ></li>
                                    <li>除了圈养，平时会不会适当的做一些运动呢？</li>
                                    <li>这是肯定会的，我们经常让小猪们在过道走走，溜溜弯运动下，这样肉质也会有好一些。<img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/si2.png" alt="" ></li>
                                    <li>赛金猪和一般的猪肉有什么区别呢？</li>
                                    <li>营养价值更高，肥肉煮完了都会往里面收，有弹性，吃起来肥而不腻。关键的是，猪健康，我们吃下去，也健康啊。<img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/si2.png" alt="" ></li>
                                </ul>
                            </div>
                        </div>
                        <div id="certificate" class="model-content">    
                            <div class="smalllabel">
                                <span>资质证书</span>
                            </div>
                            <div class="foodpic certificate gallery">
                                <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate1.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate.png"></a>
                                <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate2.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate2.jpg"></a>
                                <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate3.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate3.jpg"></a>
                                <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate4.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate4.jpg"></a>
                                <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate5.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate5.jpg"></a>
                                <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate6.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate6.jpg"></a>
                                <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate7.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate7.jpg"></a>
                                <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate8.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate8.jpg"></a>
                                <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate9.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate9.jpg"></a>
                                <a data-src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate10.jpg"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/certificate10.jpg"></a>
                            </div>
                        </div>
                        <div class="tablet">
                            <div class="tablet_l gallery my-target-iden"  id='plaque_img' thename="牌匾" thetype='imgFunc' thevalue="{$app.plaque.value|default=''}">
                                <a data-src="{$app.plaque.values|default='__PUBLIC__/m-skin/production/template1/skin/images/upload/pai.jpg'}"><img src="{$app.plaque.values|default='__PUBLIC__/m-skin/production/template1/skin/images/upload/pai.jpg'}"><p>点击查看大图</p></a>
                            </div><div class="tablet_r">
                                <p><span class=" my-target-iden" id="plaqueexplain_string" thename="牌匾说明"  thetype="textFunc"  thevalue="{$app.plaqueexplain.value|default=''}">{$app.plaqueexplain.value|default='赛金猪现与福建凯斯诺合作，携手推出安全、健康、新鲜猪肉。'}</span></p>
                            </div>
                        </div>
                        
                        <div class="smalllabel">
                            <span>S.I.可视还源</span>
                        </div>
                        <div class="smallscale">核审团队</div>
                        <div class="p15 team"><a href="##"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/team.jpg" alt=""></a></div>
                        <div class="p15 qcode-tips"><img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/ewm.png" alt=""></div>
                        <div id="mall-product" class="model-content">
                            <div class="productdiv">
                                <h3>健康食品带回家</h3>
                                <img src="__PUBLIC__/m-skin/pig/template1/skin/images/upload/product.png" alt="">
                                <div class="productprice">
                                    <fieldset>
                                        <legend>市场价:<del>38.8</del>元</legend>
                                        <a href="http://www.si-mall.cn/wap/good.php?id=109"><span>最低价：<strong>24.8</strong>元</span></a>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <img src="__PUBLIC__/m-skin/pig/template1/skin/images/img/chen.png" width="100%" alt="">
                            <div>
                                <ul>
                                    <li><a href="#">品牌介绍</a></li>
                                    <li><a href="http://mp.weixin.qq.com/s?__biz=MjM5MjkzMjM1NQ==&mid=503288340&idx=2&sn=78cecca4115b52d76a5264c0d466baf6&chksm=3e95857809e20c6ee441edf8b74de22ee9fae70e426f13bf67d2093ac807bb573c47f32afd2a&scene=18#wechat_redirect">联系凯斯诺</a></li>
                                    <li><a href="http://mp.weixin.qq.com/s?__biz=MjM5MjkzMjM1NQ==&mid=503288340&idx=3&sn=3409c54ce50460621e3c96af433d0667&chksm=3e95857809e20c6e5fc33b594ae8c83c9c94bc66cb654364036029bb18b810ae21ea05c71c19&scene=18#wechat_redirect">关于正品燎原</a></li>
                                </ul>
                                <p>©2006-2017 福建凯斯诺物联科技股份有限公司技术支持闽</p>
            					<i>ICP备09003977号</i>
                            </div>
                        </footer>
                    </div>

     
                
{:token()}

</body>
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/tools/jquery.min.js"></script>
<link href="__PUBLIC__/m-skin/pig/template1/js/plugins/swiper/swiper.min.css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/plugins/swiper/swiper.min.js"></script>
<link href="__PUBLIC__/m-skin/pig/template1/js/plugins/sweetalert/sweetalert.min.css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/plugins/sweetalert/sweetalert.min.js"></script> 
<!--弹出大图-->
<link href="__PUBLIC__/m-skin/pig/template1/js/plugins/lightGallery/lightGallery.css" rel="stylesheet" />
<script src="__PUBLIC__/m-skin/pig/template1/js/plugins/lightGallery/lightGallery.js"></script>                   
<script src="__PUBLIC__/m-skin/pig/template1/js/plugins/radialindicator/radialindicator.js"></script>
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/common/page.js"></script>
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/data/function.js"></script>
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/common/video.js"></script>
<script type="text/javascript" src="__PUBLIC__/m-skin/pig/template1/js/data/index-function.js"></script>
</html>